{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center text-primary">Bienvenido al sistema</h1>
    <p class="text-center">Sistema web desarrollado con Django + Bootstrap</p>
    <h1>Bienvenido al sistema de inventario</h1>
    <a href="{% url 'inventario' %}">Ir al inventario</a>
    <div class="text-center">
        <a href="#" class="btn btn-success">Acceder</a>
    </div>
</div>
{% endblock %}
